.vscode/**
.vscode-test/**
.git/**
.github/**
src/**
tools/**
.gitignore
.DS_Store
*.vsix
**/*.map
DEPLOYMENT.md
DEPLOYMENT.ipynb
DEVELOPMENT.md
USER_GUIDE.md
openapi.yaml
tsconfig.json
tsconfig.webview.json
webpack.config.js
out/**
node_modules/**
!dist/**
